
# mac file system
.DS_Store

# node
node_modules

bundle-analysis.html

# builds
dist
.turbo
.alchemy
target

# envs
.env
.env.local
.env.*.local

# typescript
*.tsbuildinfo

#prisma
__generated__
generated

# Bun
*.bun-build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
